SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=promo
POSTGRES_USER=promo
POSTGRES_PASSWORD=promo
DB_HOST=db
DB_PORT=5432

PROMO_START_DATE=2026-01-01
PROMO_END_DATE=2026-12-31